doctype html
html
  head
    title main page
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css' rel='stylesheet')
    link(href='css/main.css' rel='stylesheet')
  body
    .container
      .row
        h1 Convert Markdown to HTML
      .row
        a(href='./convert') Click Here to begin convert!
      
    script(src='https://code.jquery.com/jquery-2.1.4.min.js')
    





